:root {
    /* colores modo normal */
    --blanco-principal : #fffffff0;
    --blanco-texto: #ededede4;
    --texto-modo-osc: #DBD3D3;
    --logo-azul: #0D3B66;
    --logo-verde: #54C1A9;
    --negro: #000;
    /* colores modo oscuro */
    --blanco-accesibilidad : #ffffff93;
    --fondo-modo-osc: radial-gradient(circle,rgba(6, 21, 31, 1) 0%, rgba(4, 13, 20, 1) 22%, rgba(4, 13, 20, 1) 100%);
    --fondo-acc-osc: #1e1c1cdb;
    --logo-azul-oscuro:#0a2236;
    --gris-texto: #6C757D;
    --boton-modo-osc: #333;
    --hoverbtn-modo-osc:#555;
}

    