 /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap'); */

:root {
    /* colores modo normal */
    --blanco-principal : #fffffff0;
    --blanco-texto: #ededede4;
    --texto-modo-osc: #DBD3D3;
    --logo-azul: #0D3B66;
    --logo-verde: #54C1A9;
    --negro: #000;
    /* colores modo oscuro */
    --blanco-accesibilidad : #ffffff93;
    --fondo-modo-osc: radial-gradient(circle,rgba(6, 21, 31, 1) 0%, rgba(4, 13, 20, 1) 22%, rgba(4, 13, 20, 1) 100%);
    --fondo-acc-osc: #1e1c1cdb;
    --logo-azul-oscuro:#0a2236;
    --gris-texto: #6C757D;
    --boton-modo-osc: #333;
    --hoverbtn-modo-osc:#555;
}

 * {
    transition: background-color 0.4s ease, color 0.4s ease;
}

/* MENÚ */
.au-dis{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.accesibilidad button:hover{
     transform: scale(1.10);
    transition: 0.2s;
}

.accesibilidad  button {
    background: var(--logo-azul);
    color: var(--blanco-texto);
    border: 5px double var(--logo-verde);
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
}
.menu-accesibilidad button {
   
    margin: 5px 0;
    padding: 6px;
    border: none;
    cursor: pointer;
    background: var(--blanco-principal);
    color:black;
    border-radius:6px ;
    border:1px var(--logo-verde) solid 
}

.menu-accesibilidad {
    text-align: center;
    display: none;
    flex-direction: column;
    margin-top: 10px;
    background: var(--blanco-texto);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--logo-verde)
}


.dark-mode .menu-accesibilidad {
    background-color: var(--fondo-acc-osc) !important;
    color: var(--blanco-texto) !important;
    border: 2px var(--logo-azul-oscuro) solid !important;
}

.dark-mode .menu-accesibilidad button {
    background: var(--boton-modo-osc) !important;
    border: 2px var(--logo-azul-oscuro) solid;
   
}








.mayusculas{
    text-transform: uppercase;
}
 